#content .question {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 20px;
    width: calc(100% - 200px);
    height: 100px;
    background-color: white;
    border-radius: 10px;
}

#content .question-top .question-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}

#content .question-description .question-description-text {
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}