#content .question {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 20px;
    width: calc(100% - 200px);
    min-height: 100px;
    background-color: white;
    border-radius: 10px;
    transition: transform 0.3s;
}

#content .question-unsolved {
    background-image: linear-gradient(135deg, white 97%, #ea6666 97%)
}

#content .question-solved {
    background-image: linear-gradient(135deg, white 97%, #66ea7c 97%)
}

#content .question-clickable:hover {
    transform: scale(1.05);
}

#content .question-top .question-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}

#content .question-description .question-description-text {
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

#content .question-author {
    color: gray;
    font-size: 13px;
    margin-top: 10px;
}

#content .question-tags {
    display: flex;
    flex-direction: row;
}

#content .question-tag {
    padding: 5px;
    border-radius: 2px;
    margin-right: 10px;
    margin-top: 10px;
    color: gray;
    font-size: 12px;
}

#content textarea {
    min-width: calc(100% - 200px);
    max-width: calc(100% - 200px);
    padding: 20px;
    margin-top: 20px;
    min-height: 150px;
    border-radius: 10px;
    border: none;
}