<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'polls/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'polls/css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'polls/css/content.css' %}">
    <link rel="stylesheet" href="{% static 'polls/css/buttons.css' %}">
    <link rel="stylesheet" href="{% static 'polls/css/questions.css' %}">
    {% block css %}
    {% endblock %}
    <title>Snowledge</title>
</head>
<body>
    <div id="main">
        <nav id="navbar">
            <div id="navbar-left">
                <a href="/"><img src="{% static 'polls/images/logo.png' %}" alt="Logo" id="logo"></a>
            </div>
            <div id="navbar-right">
                {% if user.is_authenticated %}
                <a href="/add_problem" class="button-a"><button class="button-add">Add problem</button></a>
                <a href="/my_questions" class="button-a"><button class="button-add">Your problems</button></a>
                <a href="/skills" class="button-a"><button class="button-add">Your skills</button></a>
                <a href="/logout" class="button-a"><button class="button-action">Logout</button></a>
                {% else %}
                <a href="/login" class="button-a"><button class="button-action">Login</button></a>
                <a href="/register" class="button-a"><button class="button-action">Register</button></a>
                {% endif %}
            </div>
        </nav>
        <div id="content">
            {% block content %}
            
            {% endblock %}
        </div>
    </div>
</body>
</html>