<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'polls/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'polls/css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'polls/css/content.css' %}">
    <title>Snowledge</title>
</head>
<body>
    <div id="main">
        <nav id="navbar">
            <div id="navbar-left">
                <img src="{% static 'polls/images/snowflake.png' %}" alt="Logo" id="logo">
            </div>
            <div id="navbar-right">
                {% if user.is_authenticated %}
                <button>Logout</button>
                {% else %}
                <a href="/admin"><button>Login</button></a>
                {% endif %}
            </div>
        </nav>
        <div id="content">
            {% block content %}
            
            {% endblock %}
        </div>
    </div>
</body>
</html>