{% extends 'polls/index.html' %}
{% block content %}
<div class="more-padding">
    <h2>My unsolved questions</h2>
    {% for question in questions %}
        {% if not question.solved %}
        <a href="/question/{{question.id}}" class="question-link">
            <div class="question question-unsolved question-clickable">
                <div class="question-top">
                    <h3 class="question-title">{{question.title}}</h3>
                </div>
                <div class="question-description">
                    <p class="question-description-text">{{question.content}}</p>
                </div>
                <p class="question-author">&#x7E;{{ question.owner }}</p>
            </div>
        </a>
        {% endif %}
    {% endfor %}
    <h2 style="margin-top: 20px">My solved questions</h2>
    {% for question in questions %}
        {% if question.solved %}
        <a href="/question/{{question.id}}" class="question-link">
            <div class="question question-solved question-clickable">
                <div class="question-top">
                    <h3 class="question-title">{{question.title}}</h3>
                </div>
                <div class="question-description">
                    <p class="question-description-text">{{question.content}}</p>
                </div>
                <p class="question-author">&#x7E;{{ question.owner }}</p>
            </div>
        </a>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}