{% extends 'polls/index.html' %}
{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'polls/css/questions.css' %}">
{% endblock %}
{% block content %}
    {% if this_user_question %}
        <form action="{%url 'delete_question' question.id %}" method="POST" style="display: inline-block; float: left;">
            {% csrf_token %}
            <button class="button-del" type='submit'>Delete question</button>
            <input type="hidden" name="back" value="{request.path}">
        </form>
        {% if  question.solved %}
        <form action="{%url 'mark_as_solved' question.id %}"  method="POST">
            {% csrf_token %}
                <button class="button-action" type='submit'>Mark as unsolved</button>
            <input type="hidden" name="back" value="{{request.path}}">
        </form>
        {% else %}
            <form action="{%url 'mark_as_solved' question.id %}"  method="POST">
            {% csrf_token %}
                <button class="button-add" type='submit'>Mark as solved</button>
            <input type="hidden" name="back" value="{{request.path}}">
            </form>
        {% endif %}
    {% endif %}
    <div class="question">
        <h1>{{ question.title }}</h1>
        <p>{{ question.content|linebreaksbr }}</p>
    </div>
    {% for answer in answers %}
    <div class="question">
        <p>{{ answer.content|linebreaksbr }}</p>
    </div>
    {% endfor %}
    <form action="" method="post">
        {% csrf_token %}
        <textarea name="answer" placeholder="Write the answer..."></textarea>
        <button class="button-add" type='submit' style="display: block;">Send Answer</button>
    </form>
{% endblock %}