{% extends 'polls/index.html' %}
{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'polls/css/login.css' %}">
<link rel="stylesheet" href="{% static 'polls/css/skills.css' %}">
{% endblock %}
{% block content %}
    <div id="left-side">
    <form method= "POST">
            {% csrf_token%}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4" ></legend>
                {{form}}
            </fieldset>
            <div>
                <button type="submit" class="button-action">Submit</button>
            </div>
        </form>
    </div>
    <div id="right-side">
        <ul>
        {% for skill in skills %}
            <li>{{ skill }}</li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}